<header class="header">
  <div class="header__wrapper">
    <a href="/" class="header__logo">
      <img alt="$index-title" src="/img/logo.png" width="128" height="149"/>
      <img class="header__logo-title" alt="Quarteera /// Russian Queer in Germany" src="/img/logo-title_ru.png" width="320"/>
    </a>

    <div class="header__info">
      <ul class="header__info_hold">
        <li>
          <p>Quarteera e.V.</p><p>Postfach 58 05 36<br/>10414 Berlin</p><br/><a href="mailto:info@quarteera.de">info@quarteera.de</a>
        </li>
        <li>
          <p>Место встречи</p><p>Kleiststr. 35 Berlin<br/>(Звонок LSVD)</p>
        </li>
        <li>
          <a href="donate.html" class="header__lnk-donate">Помочь нам</a>
        </li>
      </ul>
      <ul class="header__info_hold header__info_next">
        <li><a class="header__contact_fb" href="https://www.facebook.com/Quarteera"><img alt="Quarteera at Facebook" src="/img/contact-fb.svg" width="19" height="25"/></a></li>
        <li><a class="header__contact_vk" href="http://vk.com/quarteera"><img alt="Quarteera at VKontakte" src="/img/contact-vk.svg" width="39" height="25"/></a></li>
      </ul>
      <!--<div class="header__info_hold header__info_last"><a href="$main-url-no-lang">$main-change-lang</a></div>-->
    </div>
  </div>
</header>
