---
layout: default
---

<div class="content">
  <div class="content__screen">
    <div class="screen__center">
      <div class="screen__holder">
        <div class="screen__wrapper">
          <img class="screen__image" src="/img/screen.jpg" alt="" width="1229" height="451">
        </div>
      </div>
      <div class="screen__wrapper">
        {% include main-menu.html %}
      </div>
    </div>
  </div>
  <div class="content__actual">
    <div class="actual__col">
      <div class="actual__calendar">
        <h2>Ближайшие события</h2>

        <div class="calender_row">
          <a href="">
            <ul>
              <li class="calendar__date">03.07.2015<br/>19:00</li>
              <li class="calendar__title">Встреча квартирантов</li>
            </ul>
          </a>
        </div>
        <div class="calender_row">
          <a href="">
            <ul>
              <li class="calendar__date">02.08.2015<br/>10:00</li>
              <li class="calendar__title">CSD Гамбург</li>
            </ul>
          </a>
        </div>
        <div class="calender_row">
          <a href="">
            <ul>
              <li class="calendar__date">24.10.2019<br/>11:00</li>
              <li class="calendar__title">Ежегодное общее собрание Квартиры в Берлине. Schwulenberatung, Nieburnstrasse, с 11 до 18</li>
            </ul>
          </a>
        </div>
        <a href="">Остальные события</a>
      </div>
    </div>
    <div class="actual__col">
      <div class="actual__news">
        <h2>Последние новости</h2>

        <div class="news_row">
          <a class="news__tag" href="">Акции</a>, <a class="news__tag" href="">О нас</a><br/>
          <a class="news__title" href="">Квартира протестует против Елены Мизулиной на конференции журнала "Compact" в Лейпциге</a>
        </div>
        <div class="news_row">
          <a class="news__tag" href="">Миграция</a><br/>
          <a class="news__title" href="">Первый россиянин-гей получил политическое убежище в Германии</a>
        </div>
        <div class="news_row">
          <a class="news__tag">Акции</a>, <a class="news__tag">О нас</a><br/>
          <a class="news__title" href="">С нас хватит!<br/>Демонстрация в Берлине против российских гомофобных законов.</a>
        </div>
        <a href="">Остальные новости</a>
      </div>
    </div>
  </div>
</div>