---
layout: default
---

<div class="content">
  <!--#parse("template/crumbs.vm")-->
  <div class="content__wrapper">
    <h2>{{ page.title }}</h2>
    <p>
      {{ page.description }}
    </p>
    <div class="content__delimiter"></div>
    {% for group in site.data.team %}
    <h2>{{ group.title }}</h2>
    <ul>
      {% for people in group.peoples %}
      <li>
        <a class="people" href="{{ people.permalink }}">
          <div>
            <div class="people__icon"><img alt="{{ people.name }}" src="{{ people.image }}" class="people__icon_img"/></div>
            <div class="people__description">
              <h4>{{ people.name }}</h4>
              {{ people.title }}
              <p><a href="mailto:{{ people.email }}">{{ people.email }}</a></p>
              <p>{{ people.description }}</p>
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>